:root {
  --primary: #0895e1;
  --primary-background: #282c34;
  --primary-fade: #32aff3;
  --primary-text: aliceblue;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
}